body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("Images/bg.jpg");
    background-size: cover;
    font-family: "Tangerine"
}

header {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    font-size: 25px;
}

main {
    flex: 1;
    padding: 20px;
    text-align: center;
    overflow-y: auto; /* Görgethetőség a függőleges irányban */
    max-height: 80vh; /* Maximum magasság a képernyő 80%-a */
    color: white;
    font-size: 35px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    font-size: 20px;
}


.button {
    display: inline-block;
    background: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 50px;
}

.button:hover {
    background: #0056b3;
}

.gallery {
    display: grid;
    overflow-y: auto;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr)); /* 30% szélesség rácsonként */
    gap: 20px; /* Távolság a képek között */
    justify-content: center; /* Középre igazítja a rácsot */
    padding: 20px;
    background-color: transparent;
    overflow-x: hidden;
}

.image-container {
    position: relative;
    background: #f4f4f4; /* Háttér a képek mögé */
    aspect-ratio: 16 / 9; /* Képek aránya (pl. 16:9) */
    margin: 0 auto; /* Középre igazítás */
    background-color: transparent;

}

.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* A kép méretarányosan illeszkedik a keretbe */
    cursor: pointer;
    transition: transform 0.3s ease;
}

/* Reszponzív dizájn */
@media (max-width: 768px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr); /* Maximum 2 kép egy sorban tableten */
        gap: 15px;
    }

    .button {
        padding: 8px 15px;
        font-size: 20px;
    }

    header {
        padding: 15px;
    }

    footer {
        padding: 15px;
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .gallery {
        grid-template-columns: 1fr; /* 1 kép egy sorban telefonon */
        gap: 10px;
    }

    .image-container {
        width: 90%; /* Szinte teljesen kitölti a képernyőt */
    }

    .button {
        padding: 6px 12px;
        font-size: 20px;
    }

    footer {
        font-size: 20px;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(25%, 1fr)); /* 30% szélesség képernyőnként */
    }
}
